streamlit
tensorflow-cpu==2.15.0
keras==2.15.0
opencv-python-headless
mtcnn
keras-vggface @ git+https://github.com/rcmalli/keras-vggface.git
keras_applications
scikit-learn
Pillow
numpy<2.0.0
keras.utils.layer_utils